<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Spotify Ads Free</title>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='bgimage.jpg') }}");
            background-size: cover; 
            background-position: center;
            background-attachment: fixed; 
        }
    </style>
</head>
<body>
    <h1>Spotify Ads Free</h1>
    <form method="POST">
        <label for="playlist_uri">Enter the playlist link:</label>
        <input type="text" name="playlist_uri" required>
        <input type="submit" value="Convert">
    </form>
</body>
</html>
